<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

    <!-- Global parameters -->
    <parameter name="browser" value="Edge"/>
    <parameter name="url" value="https://demoblaze.com/"/>

    <test name="Parameter Test">

        <!-- Test data -->
        <parameter name="username" value="testuser"/>
        <parameter name="password" value="test123"/>

        <parameter name="username1" value="testuser"/>
        <parameter name="password1" value="wrongpass"/>

        <parameter name="username2" value="invaliduser"/>
        <parameter name="password1" value="test123"/>

        <classes>
            <class name="parameterdemo.params"/>
        </classes>
        
        <parameter name="Username" value="KiotAdmin"></parameter>
        <parameter name="Password" value="Kiot@123"></parameter>
        
        <classes>
            <class name="parameterdemo.DemoBlazePara"/>
        </classes>

    </test>

</suite>