<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="CalculatorParallelSuite" parallel="tests" thread-count="2">

    <test name="VivoDevice1">
        <parameter name="udid" value="96483105520006T"/>
        <parameter name="port" value="4723"/>
        <parameter name="systemPort" value="8200"/>
        <classes>
            <class name="com.tests.CalculatorParallelTest"/>
        </classes>
    </test>

    <test name="VivoDevice2">
        <parameter name="udid" value="10BECZ0BR000549"/>
        <parameter name="port" value="4725"/>
        <parameter name="systemPort" value="8201"/>
        <classes>
            <class name="com.tests.CalculatorParallelTest"/>
        </classes>
    </test>

</suite>